////foundation
@use "foundation/reset";
@use "foundation/base";

////layouts
@use "./layout/inner";

////object
//component
@use "./object/component/font";
@use "./object/component/hedding";
@use "./object/component/buttons";
@use "./object/component/button";
//@use "./object/component/blur";
@use "./object/component/footprints";
@use "./object/component/footprintsWrap";
@use "./object/component/wave";
@use "./object/component/registrationList";
@use "./object/component/details";
@use "./object/component/form";

//project
//@use "./object/project/wrapper";
@use "./object/project/header";
@use "./object/project/hero";
@use "./object/project/fixedButtons";
@use "./object/project/connection";
@use "./object/project/about";
@use "./object/project/service";
@use "./object/project/registration";
@use "./object/project/professional";
@use "./object/project/registration2";
@use "./object/project/faq";
@use "./object/project/distribution";
@use "./object/project/message";
@use "./object/project/contact";
@use "./object/project/footer";
@use "./object/project/lower";
//@use "./object/project/decoration";

//utility
@use "./object/utility/addMarginBottom";