/******************************
blur
******************************/
@use "../../foundation/forwards" as *;
/*
.c-blurTrigger {
  filter: blur(5px);
  opacity: 0;
  transition: filter 1s ease;
}

.c-blurTrigger.is-blurActive {
  filter: blur(0);
  opacity: 0.5;
}
*/