/******************************
足跡用wrap
******************************/
@use "../../foundation/forwards" as *;

.c-footprintsWrap{
  position: absolute;
  inset: 0;
  pointer-events: none; 
  z-index: 0;
  overflow: visible;
}