/******************************
波型背景
******************************/
@use "../../foundation/forwards" as *;

.c-wave {
  display: block;
  content: "";
  width: 100%;
  height: rem(25);
  background-repeat:  repeat-x;
  background-position: center;
  background-size:  contain;
  @media (max-width: 374px) {
    background-size: cover;
  }
  @include mq(tab) {
    height: rem(50);
  }
}

.c-wave--green {
  background-image: url(/img/bg_wave_spgreen.png);

  @include mq(tab) {
    background-image: url(/img/bg_wave_pcgreen.png) ;
  }
}

.c-wave--orange {
  background-image: url(/img/bg_wave_sporange.png);
  @include mq(tab) {
    background-image: url(/img/bg_wave_pcorange.png);
  }
}