/******************************
こんな人とつながりたい
******************************/
@use "../../foundation/forwards" as *;

.p-connection {
  position: relative;
  width: 100vw;
  overflow: hidden;
  padding-block: var(--marginDefault) calc(var(--marginDefault) * 2 - 25px);
  @include mq(tab) {
    padding-block: var(--marginDefault) calc(var(--marginDefault) * 2 - 50px);
  }

  &__inner {
    width: rclamp(280, 600, 375, 1024);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: rclamp(32, 64, 375, 1024);
    margin-inline: auto;
    position: relative;
    z-index: 1;

    .p-connection__title {
      padding: rem(10);
      @include mq(tab) {
        padding: 0;
      }
    }

    .p-connection__list {
      display: flex;
      flex-direction: column;
      gap: rclamp(16, 32, 375, 768);
      width: rclamp(216, 376, 375, 768);
      padding: rem(8) rem(4);
      @include mq(tab) {
        padding: 0;
      }

      li {
        display: flex;
        align-items: center;
        column-gap: rem(20);

        &::before {
          display: block;
          content: "";
          width: rem(28);
          height: rem(28);
          background: url(/img/icon_lightBulb.svg) no-repeat center/contain;
          flex-shrink: 0;
        }
      }
    }

    .p-connection__img {
      padding: rem(1) rem(10);
      @include mq(tab) {
        padding: 0;
        width: rem(520);
      }
    }
  }
}