/******************************
想いに寄り添う配信を
******************************/
@use "../../foundation/forwards" as *;

.p-distribution {
  padding-block: calc(var(--marginDefault) * 2) calc(var(--marginDefault) * 2);

  &__inner {
    display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(32);
      @include mq(tab) {
        gap: rem(64);
      }

    .p-distribution__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(16);
      @include mq(tab) {
        flex-direction: row;
      }

      img {
        width: rclamp(80, 125, 375, 1024);
        height: rclamp(80, 125, 375, 1024);
      }

      > span {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-inline: rem(24);
      }
    }

    .p-distribution__body {
      display: flex;
      flex-direction: column;
      gap: rem(24);
      max-width: rem(680);
      @include mq(tab) {
        gap: rem(64);
      }

      p {
        font-size: rclamp(16, 24, 375, 1024);
        line-height: 2;
        @include mq(tab) {
          line-height: 1.75;
        }
      }
    }

    .p-distribution__img {
      width: rclamp(183, 442, 375, 1024);
      height: rclamp(136, 321, 375, 1024);;
    }
  }
}