/******************************
header
******************************/
@use "../../foundation/forwards" as *;

.p-header {
  position: relative;
  width: 100vw;
  overflow: hidden;

  &__bg {
    position: absolute;
    inset: 0;
    pointer-events: none; 
    z-index: 0;
  }

  //サークル
  &__circle {
    position: absolute;
    opacity: 0.5;
    z-index: 1;
    width: rem(80);
    height: rem(80);
    top: calc(-1 * rem(20));
    right: calc(-1 * rem(19));
    @include mq(tab) {
      width: rem(120);
      height: rem(120);
    }
    @include mq(pc) {
      width: rem(160);
      height: rem(160);
      top: calc(-1 * rem(37));
      right: calc(-1 * rclamp(80, 290, 1024, 1440));
    }
  }

  .p-header__inner {
    margin-block: rclamp(16, 48, 768, 1024);
    margin-inline: auto;
    @include mq(tab) {
      margin-block-start: rem(48);
      margin-block-end: calc( rem(48) - rclamp(0, 47, 768, 1440));
      margin-inline: var(--inner-pl) auto;
    }
    @include mq(pc) {
      width: 100%;
      max-width: rem(1344);
      margin-inline: rclamp(48, 288, 1440, 1920);
    }

    .p-header__title {
      width: rem(200);
      height: auto;
      aspect-ratio: auto;
      margin-inline: auto;
      @include mq(tab) {
        margin-left: 0;
        margin-right: auto;
        width: rem(322);
      }
      @include mq(pc) {
        margin-inline: 0 auto;
      }
    }
  }
}