/******************************
hero
******************************/
@use "../../foundation/forwards" as *;

.p-hero {
  position: relative;
  width: 100vw;
  overflow: hidden;
  margin-block: 0 calc(var(--marginDefault));
  margin-inline: auto;
  @include mq(tab) {
    margin-block: 0 calc(var(--marginDefault) - 6px);
  }

  &__fp01 {
    display: none;
    @include mq(tab) {
      display: block;
      opacity: 0.5;
      top: rem(34);
      left: calc(-1 * rclamp(120, 392 ,768, 1440));
    }
  }

  &__inner {
    .p-hero__body {
      width: 100%;
      max-width: rem(412);
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: rem(28);
      margin-bottom: rem(29);
      @include mq(tab) {
        max-width: none;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: rem(24);
        margin-bottom: rclamp(48, 81, 768, 1440);
      }
      .p-hero__img {
        width: 100%;
        height: auto;
        aspect-ratio: auto;
        @include mq(tab) {
          flex-basis: 63.81%;
        }
      }

      .p-hero__text {
        flex-shrink: 0;

        p:first-child {
          font-size: rem(32);
          line-height: 1.25;
          text-align: center;
          margin-bottom: rem(32);
          @include mq(tab) {
            text-align: left;
            font-size: rclamp(36, 48, 768, 1440);
            margin-bottom: rclamp(32, 64, 768, 1440);
          }
        }

        p:last-child {
          font-size: rem(16);
          line-height: 1.75;
          display: inline-block;
          width: max-content;
          @include mq(tab) {
            font-size: rclamp(18, 20, 768, 1440);
          }
        }
      }
    }
  }
}