/******************************
簡単３ステップ！LINE登録方法
******************************/
@use "../../foundation/forwards" as *;

.p-registration {
  position: relative;
  width: 100vw;
  overflow: hidden;
  padding-block: var(--marginDefault) var(--marginDefault);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: rem(32);
    @include mq(tab) {
    }

    .p-registration__title {
      text-align: center;
      display: flex;
      flex-direction: column;
      @include mq(tab) {
        flex-direction: row;
        gap: rem(16);
      }

      &::after {
        display: block;
        content: "";
        width: rclamp(80, 125, 375, 1024);
        height: rclamp(80, 125, 375, 1024);
        background: url(/img/img_3footprints.png) no-repeat center/contain;
      }

      > span {
        @include mq(tab) {
          padding-inline: rclamp(24, 72, 768, 1440);
        }
      }
    }

    .p-registration__list {
      max-width: rem(280);
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      gap: rem(32);
      @include mq(tab) {
        max-width: none;
      }
      li {
        display: flex;
        flex-direction: column;

        @include mq(tab) {
          flex-direction: row;
          flex-shrink: 0;
          gap: rem(40);
        }

        .p-registration__item01{
          position: relative;
          margin-left: rem(18);
          padding-left: rem(30);
          border-left: 4px solid $color-main;

          h3 {
            font-size: rclamp(24, 32, 375, 1024);
            line-height: 1.25;
            margin-bottom: rem(24);
          }
        }
      }

      li:first-child {
        @include mq(tab) {
          display: none;
        }
      }

      li:nth-child(2) {
        display: none;
        @include mq(tab) {
          display: flex;
        }
      }

      li .p-registration__item01::before{
        position: absolute;
        top: 0;
        left: calc(-1 * rem(22));
        display: block;
        content: "";
        width: rem(40);
        height: rem(40);
      }
      .p-registration__listItem01 .p-registration__item01::before,
      .p-registration__listItem02 .p-registration__item01::before {
        background: url(/img/icon_number1.svg) no-repeat center/contain;
      }
      .p-registration__listItem03 .p-registration__item01::before {
        background: url(/img/icon_number2.svg) no-repeat center/contain;
      }
      .p-registration__listItem04 .p-registration__item01::before {
        background: url(/img/icon_number3.svg) no-repeat center/contain;
      }
    }
  }
}