/******************************
簡単３ステップ！LINE登録方法
******************************/
@use "../../foundation/forwards" as *;

.p-registration {
  position: relative;
  width: 100vw;
  overflow: hidden;
  padding-block: var(--marginDefault) var(--marginDefault);

  &__fp06 {
    top: rem(551);
    left: calc(-1  * rem(100));
    @include mq(tab) {
      top: rem(300);
      left: calc(-1 * rclamp(120, 392, 768, 1440));
    }
  }
  &__fp07 {
    top: rem(1576);
    right: calc(-1  * rem(100));
    @include mq(tab) {
      top: calc(1000px - rclamp(280, 314, 768, 1440));
      right: calc(-1 * rclamp(120, 391, 768, 1440));
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    @include mq(tab) {
      gap: rem(64);
    }

    .p-registration__title {
      text-align: center;
      display: flex;
      flex-direction: column;
      @include mq(tab) {
        flex-direction: row;
        gap: rem(16);
      }

      &::after {
        display: block;
        content: "";
        width: rclamp(80, 125, 375, 1024);
        height: rclamp(80, 125, 375, 1024);
        background: url(/img/img_3footprints.png) no-repeat center/contain;
      }

      > span {
        @include mq(tab) {
          padding-inline: rclamp(24, 72, 768, 1440);
        }
      }
    }
  }
}