/******************************
ご登録方法
******************************/
@use "../../foundation/forwards" as *;

.p-registration2 {
  position: relative;
  width: 100vw;
  overflow: hidden;
  padding-top: var(--marginDefault);
  @include mq(tab) {
    padding-top: var(--marginDefault);
  }

  &__fp08 {
    top: rem(125);
    right: calc(-1  * rem(100));
    @include mq(tab) {
      top: rem(185);
      right: calc(-1 * rclamp(120, 391, 768, 1440));
    }
  }

  &__fp09 {
    bottom: 25px;
    right: calc(-1  * rem(100));
    @include mq(tab) {
      bottom: 140px;
      right: calc(-1 * rclamp(120, 391, 768, 1440));
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    padding-bottom: calc(var(--marginDefault) * 2 - 25px);
    @include mq(tab) {
      padding-bottom: calc(var(--marginDefault) * 2 - 50px);
      gap: rem(64);
    }
  }

  &__title {
    padding: rem(10);
    @include mq(tab) {
      padding: 0;
    }
  }

  .c-button {
    margin-inline: auto;
  }

  .c-registrationList__greenBg {
    padding: rem(10);
    background-color: $color-lightGreen;
    border-radius: 10px;
    width: rem(182);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .c-registrationList__li03--2:first-of-type .c-registrationList__text {
    gap: rem(24);
  }

  .c-registrationList__li04 .c-registrationList__text h3 {
    line-height: 40px;
  }
}