/******************************
汎用インナー
******************************/
@use "../foundation/forwards" as *;

.l-inner--bg {
  width: 100vw;
  margin-inline: var(--inner-pl) var(--inner-pr);
  max-width: rem(920);
  margin-inline: auto;
  box-sizing: border-box;
  overflow: visible;
  @media (min-width: 376px) and (max-width: 767px) {
    padding-inline: rclamp(47.5, 120, 376, 767) rclamp(47.5, 120, 376, 767);
  }
}

.l-inner--hero {
  width: 100vw;
  margin-inline: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  overflow: hidden;
  @include mq(tab) {
    padding-inline: var(--inner-pl) var(--inner-pr);
  }
  @include mq(pc) {
    max-width: calc(rem(995) + rclamp(60, 180, 1024, 1440) + rem(25));
    padding-inline: rclamp(60, 180, 1024, 1440) rem(25);
  }
}

.l-inner--920 {
  width: 100%;
  padding-inline: var(--inner-pl) var(--inner-pr);
  margin-inline: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  overflow: hidden;
  @media (min-width: 376px) and (max-width: 767px) {
    padding-inline: rclamp(47.5, 120, 376, 767) rclamp(47.5, 120, 376, 767);
  }
  @include mq(pc) {
    max-width: calc(rem(920) + var(--inner-pl) + var(--inner-pr));
  }
}

.l-inner--registrationList {
  width: 100%;
  padding-inline: var(--inner-pl) var(--inner-pr);
  margin-inline: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  overflow: hidden;
  @media (min-width: 376px) and (max-width: 767px) {
    padding-inline: rclamp(47.5, 120, 376, 767) rclamp(47.5, 120, 376, 767);
  }
  @include mq(pc) {
    max-width: calc(rem(920) + var(--inner-pl) + var(--inner-pr));
  }
}

.l-inner--760 {
  width: 100%;
  padding-inline: var(--inner-pl) var(--inner-pr);
  margin-inline: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  overflow: hidden;
  @media (min-width: 376px) and (max-width: 767px) {
    padding-inline: rclamp(47.5, 120, 376, 767) rclamp(47.5, 120, 376, 767);
  }
  @include mq(pc) {
    max-width: calc(rem(760) + var(--inner-pl) + var(--inner-pr));
  }
}

.l-inner--680 {
  width: 100%;
  padding-inline: var(--inner-pl) var(--inner-pr);
  margin-inline: auto;
  box-sizing: border-box;
  @media (min-width: 376px) and (max-width: 767px) {
    padding-inline: rclamp(47.5, 120, 376, 767) rclamp(47.5, 120, 376, 767);
  }
  @include mq(pc) {
    max-width: calc(rem(680) + var(--inner-pl) + var(--inner-pr));
  }
}