/******************************
base
******************************/
@use "forwards" as *;

:root {
  /* header vars */
  --header-h: 164px;

  /* spacing vars */
  --inner-pl: clamp(1.25rem, -8.750rem + 50vw, 2.969rem);   /* 左padding 320px:20px 375px:47.5px*/
  --inner-pr: clamp(1.25rem, -8.750rem + 50vw, 2.969rem);   /* 右padding 320px:20px 375px:47.5px*/
  --marginDefault: 36px; /* SP規定 セクション間マージン*/
}


@include mq("tab") {
  :root {

  /* header vars */
  --header-h: 110px;

  /* spacing vars */
  --inner-pl: 60px;   /* 左padding 仮 */
  --inner-pr: 60px;   /* 右padding 仮 */
  --marginDefault: 52px; /* セクション間マージン*/
  }
}

@include mq("pc") {
  :root {
  /* header vars */
  --header-h: 110px;

  /* spacing vars */
  --inner-pl: 60px;   /* 左padding */
  --inner-pr: 60px;   /* 右padding */
  --marginDefault: 72px; /* セクション間マージン*/

  --inner-max: 920px; /* PC画面幅大の時用 仮 */
  }
}


body  {
  min-width: 320px;
  width: 100%;
  margin: 0;
  background: $color-bg;
  font-size: 1rem;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: $color-text;
  line-height: 1.75;
  line-break: strict;

  &.is-scrollLock { overflow: hidden; }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p, figure{
    margin: 0;
    padding: 0;
    font-size: 100%;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*
*:focus {
  scroll-margin-top: var(--header-h);
}
  */

